.section {
  margin: 0 auto;
  padding-top: 2.5rem;
  max-width: 33.75rem;
}
.description {
  color: #f0f0f0;
  margin-bottom: 1.5rem;
}
.lengthSelector {
  margin: 0 -.75rem;
  padding: 0;
  list-style: none;
  display: flex;
  line-height: 0;
}
.lengthSelector > li {
  padding: 0 .75rem;
  position: relative;
}
.lengthSelector > li:not(:first-child)::before {
  content: '';
  position: absolute;
  top: calc(50% - .1563rem);
  width: 1.75rem;
  height: .3125rem;
  background-color: #888;
}
.lengthSelector > li:not(:first-child)::before {
  right: calc(50% + .7rem);  
}
.lengthSelector > li:first-child::after,
.lengthSelector > li:last-child::after {
  content: attr(data-helptext);
  position: absolute;
  top: 100%;
  padding-top: 1rem;
  left: 0;
  right: 0;
  color: #888;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: .75rem;
}
.lengthSelector > li > button {
  width: 1.5rem;
  height: 1.5rem;
  background-color: #222;
  border: .25rem solid #888;
  border-radius: 50%;
  transition: all .2s;
}
.lengthSelector > li.activeItem > button {
  transform: scale(1.3);
  background-color: #888;
}