.h1 {
    color: #888;
    font-size: 3.25rem;
}
.article {
    margin: 0 auto;
    max-width: 1000px;
}
.container {
    display: flex;
    margin: 0 -1rem;
}
.left, .right {
    padding: 1rem;
}
.left {
    width: 50%;
}
.right {
    width: 50%;
}
.description {
    color: #f0f0f0;
}