html {
  background-color: #222;
  font-family: "Source Sans Pro";
  font-size: 32px;
}
body {
  margin: 0;
}
a {
  color: white;
  text-decoration: none;
  position: relative;
}
h1 {
  font-family: "Roboto Slab";
}
main {
  margin: 0;
}
p {
  margin: 0 0 1rem;
}
.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}
button {
  cursor: pointer;
  font-family: 'Source Sans Pro', sans-serif;
}