.card {
  position: relative;
  padding: 1.25rem 1.5rem;
}

.card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 20%;
  width: .625rem;
  background-color: #888;
}

.card::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 20%;
  height: .625rem;
  background-color: #888;
}