.page {
  position: relative;
}

.container {
  margin: auto;
  padding: 30px;
}

.arrowLink {
  position: absolute;
  top: -1rem;
  right: 0;
  transition: all 300ms cubic-bezier(.62,.28,.23,.99);
}
.arrowLink:hover {
  transform: translateY(-1rem);
  padding-bottom: 1rem;
}